#myVideo {
  position: absolute;

  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100vh;
}
h1 {
  font-family: "Roboto slab", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
h2,
h3 {
  font-size: 20px;
}

footer {
  text-align: center;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(241, 235, 235);
  border-radius: 10px;
  background-color: rgb(228 222 188);
  padding: 4px;
  font-family: "Roboto slab", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
a {
  color: #004ab7;
  text-decoration: none;
}
