#myVideo {
  position: absolute;

  right: 0;
  bottom: -200px;
  min-width: 100%;
  min-height: 100vh;
}

footer {
  text-align: center;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(241, 235, 235);
  border-radius: 10px;
  background-color: rgb(228 222 188);
  padding: 4px;
  font-family: "Roboto slab", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
@media (max-width: 576px) {
  #myVideo {
    position: absolute;

    right: 0;
    bottom: -50px;
    min-width: 100%;
    min-height: 100vh;
  }
}
