h1 {
  font-family: "Roboto slab", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
h2,
h3 {
  font-size: 20px;
}
a {
  color: #004ab7;
  text-decoration: none;
}
.Weather .container {
  position: relative;
  font-family: "Hahmlet", serif;
  max-width: 700px;
}

.Weather .outer-box-frame {
  border: 8px solid #383737;
  margin: 4rem auto;
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 20px;
  background-image: linear-gradient(
      100deg,
      rgba(176, 220, 203, 0.4),
      rgba(224, 226, 230, 0.4)
    ),
    url(../src/images/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.Weather .today-temperature {
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Weather .units {
  font-size: 20px;
  position: relative;
  top: -7px;
  text-decoration: none;
}

.Weather .enter-city,
.btn {
  padding: 10px 15px;
  margin-top: 10px;
  margin-bottom: 45px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
.Weather .enter-city {
  border: 2px solid black;
  border-radius: 20px;
}
